/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-top-15 {
    margin-top: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-75 {
    margin-top: 75px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-75 {
    margin-bottom: 75px;
}
    /* END COMMON */

    /* EXERCISES */

/* EX 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 1.5s;
}

.ex-1-square:hover {
    background-color: red;
}

/* EX 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* EX 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 50px;
}

/* EX 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 5s;
}

.ex-4-square:hover {
    background-color: #00000000;
}

/* EX 5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(1.8);
}

.ex-5-square:active {
    transform: scale(.5);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* EX 6 */
.ex-6-img:hover {
   filter: grayscale(1);
}

/* EX 7 */
.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter: grayscale(1);
}

/* EX 8 */
.ex-8-img {
    transition: 1.5s;
}

.ex-8-img:hover {
    filter: grayscale(1);
    border-radius: 30px;
}

/* EX 9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 4s;
}

.ex-9-img:hover {
    filter: grayscale(1);
    border-radius: 30px;
    transform: scale(2);
}

/* EX 10 */
.ex-10-icon {
    font-size: 60px;
}

.ex-10-icon {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* EX 11 */
.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation-name: spin2;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

@keyframes spin2 {
    0% {
        transform:rotate(0deg);
    }
    75% {
        transform:rotate(270deg);
    }
   100% {
        transform:rotate(0deg);
   }
}

.ex-12-button:hover .ex-12-top-white {
    animation-name: spin3;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

@keyframes spin3 {
    0% {
        transform: translate(top -10px left 10%);
    }
    50% {
        transform: translate(top -10px left 100%);
    }
    100% {
        transform: translate(top -10px left 10%);
    }
}

/* EX 12 - EX 13 */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* EX 12 */
.ex-12-button:hover .ex-12-bottom-white {
    animation-name: spin4;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

@keyframes spin4 {
    0% {
        transform: translate(bottom -10px right 10%);
    }
    50% {
        transform: translate(bottom -10px right 100%);
    }
    100% {
        transform: translate(bottom -10px right 10%);
    }
}

/* EX 13 */
.ex-13-button:hover .ex-13-top-white {
    animation-name: spin5;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

@keyframes spin5 {
    
        0% {
            transform: translate(top -10px left 10%);
        }
        20% {
            transform: translate(top -10px left 100%);
        }
        40% {
            transform: translate(bottom -10px left 100%);
        }
        60% {
            transform: translate(bottom -10px left 0%);
        }
        80% {
            transform: translate(top -10px left 0%);
        }
        100% {
            transform: translate(top -10px left 10%);
        }
    }


.ex-13-button:hover .ex-13-bottom-white {
    animation-name: spin6;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

@keyframes spin6 {
    0% {
        transform: translate(bottom -10px right 20%);
    }
    20% {
        transform: translate(bottom -10px right 100%);
    }
    40% {
        transform: translate(top -10px right 100%);
    }
    60% {
        transform: translate(top -10px right 0%);
    }
    80% {
        transform: translate(bottom -10px right 0%);
    }
    100% {
        transform: translate(bottom -10px right 20%);
    }
}

/* NOTE:
Ho controllato le soluzioni dell'esercizio, e non avevo memoria 
(nè ho trovato online soluzioni simili, ma quello è problema mio)
che su un @keyframe espresso in % percentuali, si agisse direttamente
con le coordinate, piuttosto che con un "transform:qualcosa"

per correttezza, ora che ho visto, non posso completare 
correttamente l'esercizio, in quanto copierei le soluzioni.
Buon weekend a chiunque si metterà a leggere sto codice*/